
<div ng-include="'template/includes/header.html'"></div>
<div class="container shop-box">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <h1>Cart</h1>
            </div>
            <div class="col-md-10 col-xs-12">
                <ngcart-cart></ngcart-cart>
            </div>
            <div class="col-md-2">
                <a ui-sref="home">
                    <button class="btn btn-block btn-default">Go to Store</button>
                </a>
                <br>
                <button class="btn btn-block btn-danger" ng-show="vm.total>0" ng-click="vm.clearCart()">Clear cart
                </button>
            </div>
        </div>
    </div>
    <br/>
</div>
<div ng-include="'template/includes/footer.html'"></div>
