
<div class="col-md-9">
    <div class="alert alert-warning shop-box" ng-show="vm.products.length==0">
        <h3>Opps! No product match. Try another.</h3>
    </div>
    <div class="col-md-4 shop-thumbnail"
         ng-repeat="item in vm.colorProduct.slice(((vm.currentPage-1)*vm.itemsPerPage), ((vm.currentPage)*vm.itemsPerPage)) | filter:vm.filterRange">
        <div class="thumbnail">
            <img class="shop-img" ng-src="img/{{item.src}}" alt="...">
            <div class="caption">
                <h3 class="lead">{{ item.name }}</h3>
                <small><strong>{{ item.category }}</strong></small>
                <small><strong>{{ item.color }}</strong></small>
                <h4>{{ item.price | currency }}</h4>
                <p>{{ item.description }}</p>
                <div class="row">
                    <div class="col-md-3 col-xs-3">
                        <a ui-sref="detail({productID: item.id})" class="btn btn-sm btn-success">Details</a>
                    </div>
                    <div class="col-md-9 col-xs-9">
                        <ngcart-addtocart id="{{ item.id }}" name="{{ item.name }}" price="{{ item.price }}"
                                          quantity="1" data="item">Add to cart
                        </ngcart-addtocart>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9 pull-right" ng-show="vm.colorProduct.length>vm.itemsPerPage">
        <uib-pagination total-items='vm.colorProduct.length' items-per-page="vm.itemsPerPage"
                        ng-model="vm.currentPage"></uib-pagination>
    </div>
</div>
