
<div ng-include="'template/includes/header.html'"></div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <!--Page header-->
            <div class="shop-page-header">
                <h3>Category > <a ui-sref="home.category({productCat: vm.product.category})">{{vm.product.category}}</a></h3>
            </div>
            <!--Product details--->
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>{{ vm.product.name }}<br>
                        <small><strong>Product id#{{ vm.product.id }}</strong></small>
                        <strong class="pull-right">{{ vm.product.price | currency }}</strong>
                    </h2>
                    <img class="shop-img-bg" ng-src="img/{{vm.product.src}}"/>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Product details</h3>
                    <p>{{ vm.product.description }}</p>
                    <h3>Category</h3>
                    <p class="shop-category">{{ vm.product.category }}</p>
                </div>
            </div>
            <!---End product detail--->
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <ngcart-addtocart id="{{ vm.product.id }}" name="{{ vm.product.name }}" price="{{ vm.product.price }}"
                                      quantity="1" quantity-max="5" data="item">Add to cart
                    </ngcart-addtocart>
                    <hr/>
                    <a ui-sref="home">
                        <button class="btn btn-block btn-default">Back to Store</button>
                    </a>
                    <hr/>
                    <!--Related product-->
                    <h3><strong>You may also like</strong></h3>
                    <div class="col-md-6 col-sm-6"
                         ng-repeat="item in vm.relatedProduct">
                        <div class="thumbnail">
                            <img ng-src="img/{{item.src}}" alt="{{ item.name }}">
                            <div class="caption">
                                <p>{{ item.name }}</p>
                                <h4>{{ item.price | currency }}</h4>
                                <a ui-sref="detail({productID: item.id})" class="btn btn-sm btn-block btn-success">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="'template/includes/footer.html'"></div>